

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)  {
    #bgvid {
        position: absolute;
        top: 0;
        left: -55%;
        bottom: 0;
        right: 0;
        width: 240%;
        height: 100%;
    }

    .cd-nav {
        background-position: 10% bottom;
        background-size: 1200px;
    }

    .cd-nav-trigger {
        left: auto;
        right: 5%;
    }

    .cd-title {

    }

    .cd-title .h1 {
        font-size: 1.5em;
        max-width: 100%;
        margin: 0;
    }

    #creator_promo {
        background: none;
        padding: 0 0 5em 0;
    }




    #project-head {
        text-align: center;
        position: relative;
        z-index: 9995;
        margin-bottom: 0.5em;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.75+0,0+100;Neutral+Density */
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

    }

    #project-head .heading {
        margin-top: 1em;
    }

    #orderlikethis {
        position: fixed;
        top: 90%;
        right: 25%;
        z-index: 99;
    }

    #toallworks {
        position: fixed;
        left: 5%;
        top: 25px;
    }

    #works {
        margin: 0 0 3em 0;
        text-align: center;
        padding: 0;
    }

    #works .filtr-item {
        max-height: 100px;
        border-radius: 8px;
    }

    footer img {
       margin: 0 auto;
    }
}
