#works {
    margin: 2em 0;
}
nav.sortable {
    text-align: center;
}
.sortable a {
    color: white;
    letter-spacing: 5px;
    padding: 0.3em 1em;
    font-weight: bold;
}

/* FILTER */
.filtr-item {
    padding: 1rem;
    max-height: 180px;
    overflow: hidden;
}
.filtr-item img {
    width: 100%;
}
.item-desc {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    z-index: 1;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

/* Filter controls */
.simplefilter li, .multifilter li, .sortandshuffle li {
    color: white;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-weight: bold;
}

.simplefilter li.active {
    background-color: #fd4343;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-shadow: 0 2px 2px black;
}
.multifilter li {
    background-color: #4b9eff;
}
.multifilter li.active {
    background-color: #2265b4;
}

